### Jetbrains
.idea
# JIRA plugin
atlassian-ide-plugin.xml

### SBT template
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/

### Scala template
*.class
*.log

